/* ========|| Custom Properties ||======== */
:root {
  --clr-primary-500: hsl(171, 66%, 44%);
  --clr-primary-700: hsl(233, 100%, 69%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(201, 11%, 66%);
  --clr-neutral-500: hsl(210, 10%, 33%);

  --fw-regular: 400;
  --fw-bold: 600;

  --ff-base: "Bai Jamjuree", sans-serif;

  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5em;
  --spacing-regular: 1em;
  --spacing-semi-medium: 1.5em;
  --spacing-medium: 2em;
  --spacing-large: 3em;
  --spacing-semi-large: 4em;
  --spacing-xlarge: 6em;
  --spacing-xxlarge: 8em;
  --spacing-xxxlarge: 10em;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-base: 1.125rem;
  --fs-650: 1.5625rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;
}

/* ===============|| Reset ||============= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p {
  overflow-wrap: break-word;
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ========|| General Styling ||========= */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  text-align: center;
}
h1,
h2,
h3 {
  color: var(--clr-neutral-500);
  margin-bottom: var(--spacing-small);
  font-weight: var(--fw-bold);
}
h2 {
  font-size: var(--fs-700);
}
h3 {
  font-size: var(--fs-650);
}
p {
  color: var(--clr-neutral-300);
}

/* ==========|| Main Styling ||========== */
.page {
  padding-inline: var(--spacing-medium);
  display: grid;
  place-content: center;
  margin-inline: auto;

}
.page__logo {
  width: 7.5em;
  padding-block: var(--spacing-xxlarge) var(--spacing-semi-large);
}
.page__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-semi-medium);
  margin-block: var(--spacing-medium) var(--spacing-xxxlarge);
}
.page__button {
  padding: 1em 5em;
  margin-inline: auto;
  border: none;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  border-radius: 100vh;
  box-shadow: inset 0px -2px 0px 1px hsla(0, 0%, 0%, 0.2);
}
.feature__wrapper {
  margin-bottom: 4.5em;
}
.features__list {
  margin-bottom: 11em;
}
.feature {
  margin-block: var(--spacing-large);
}

.access__image {
  margin-block: 4em 6em;
}
.workflow {
  margin-bottom: 8em;
}
.workflow__description {
  margin-bottom: 4em;
}
.workflow__feature {
  margin-bottom: 3em;
}
.workflow__icon {
  margin-bottom: 3em;
}
.partners {
  margin-bottom: 10em;
}
.partners__logos {
  display: grid;
  place-content: center;
  gap: 4em;
}
.footer {
  background-color: hsl(from var(--clr-neutral-300) h s l / 0.1);
  display: flex;
  padding: 4em;
  flex-direction: column;
  gap: 3em;
}
.footer__logo {
  width: 3em;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}
.footer__link {
  list-style: none;
  font-weight: var(--fw-bold);
  color: hsl(from var(--clr-neutral-500) h s l / 0.7);
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.footer__social-icon {
  height: 2em;
}
.feature__col {
  display: grid;
}
/* ============|| Utilities ||=========== */
.button--green {
  background-color: var(--clr-primary-500);
}
.button--blue {
  background-color: var(--clr-primary-700);
}
/* ===========|| Breakpoints ||========== */
/* xs */
@media (min-width: 475px) {
  .page {
    max-width: 29.6875em;
  }
}
/* sm */
@media (min-width: 600px) {
  .page {
    max-width: 37.5em;
  }
}
/* md */
@media (min-width: 768px) {
  .page {
    max-width: 48em;
  }
  .partners__logos {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners {
    margin-inline: auto;
  }

  .footer__links {
    flex-direction: row;
    justify-content: center;
  }

}
/* lg */
@media (min-width: 1024px) {
  .page {
    max-width: 64em;
  }
  .page__buttons {
    flex-direction: row;
    gap: 0;
  }
  .partners__logos {
    grid-template-columns: repeat(3, 1fr);
  }
  .feature__col {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
/* xl */
@media (min-width: 1280px) {
  .page {
    max-width: 80em;
  }
  .partners__logos {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer {
    flex-direction: row;
    justify-content: center;
  }
  .footer__socials {
    display: flex;
    justify-content: center;
    gap: 3em;
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .page {
    max-width: 96em;
  }
  .partners__logos {
    grid-template-columns: repeat(5, 1fr);
  }
}
